@page "/restaurants"

<h3>Dostępne restauracje</h3>

<table class="table col-8 mx-auto table-striped">
    <thead>
        <tr>
            <th style="width: 10%;" scope="col">#</th>
            <th class="text-center" style="width: 60%;" scope="col">Nazwa</th>
            <th style="width: 10%;" scope="col"></th>
            <th style="width: 20%;" scope="col"></th> 
        </tr>
    </thead>
    @{
        int counter = 1;
    }
    <tbody>
        @foreach (var item in RestaurantsList)
        {
            <tr>
                <th scope="row">@counter</th>
                <td>@item.RestaurantName</td>
                <td>@(item.IsActive == true ? "Dostępna" : "Niedostępna")</td>
                <td><button type="button" class="btn btn-light border">Pokaż menu</button></td>
            </tr>
            counter++;
        }
    </tbody>
</table>