@page "/"

<h1>Zamawiajka :)</h1>

Witamy w twojej ulubionej aplikacji do zamawiania jedzenia.
<br />
Przejdź do listy restauracji i wybierz swoją ulubioną

<!--<SurveyPrompt Title="How is Blazor working for you?" />-->
